#### Reading Data From Diffrenet Sources

In [15]:
import pandas as pd
from io import StringIO
Data = '{"Employee_name": "James", "email": "james@gmail.com", "job_profile": [{"title1":"Team Lead", "title2":"Sr.Developer"}]}'
df=pd.read_json(StringIO(Data))

In [16]:
df

,Employee_name,email,job_profile
0,James,james@gmail.com,"{'title1': 'Team Lead', 'title2': 'Sr.Developer'}"

In [17]:
df.to_json()

'{"Employee_name":{"0":"James"},"email":{"0":"james@gmail.com"},"job_profile":{"0":{"title1":"Team Lead","title2":"Sr.Developer"}}}'

In [18]:
df.to_json()

'{"Employee_name":{"0":"James"},"email":{"0":"james@gmail.com"},"job_profile":{"0":{"title1":"Team Lead","title2":"Sr.Developer"}}}'

In [19]:
df.to_json(orient='index')

'{"0":{"Employee_name":"James","email":"james@gmail.com","job_profile":{"title1":"Team Lead","title2":"Sr.Developer"}}}'

In [20]:
df.to_json(orient='records')

'[{"Employee_name":"James","email":"james@gmail.com","job_profile":{"title1":"Team Lead","title2":"Sr.Developer"}}]'

In [22]:
df = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data", header=None)

In [ ]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [23]:
df.to_json("wine.csv")

In [24]:
!pip install lxml

Requirement already satisfied: lxml in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (6.0.2)

[notice] A new release of pip is available: 23.0.1 -> 25.3
[notice] To update, run: C:\Users\USER\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip

In [25]:
!python -m pip install --upgrade pip

Requirement already satisfied: pip in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (24.0)
Collecting pip
  Using cached pip-25.3-py3-none-any.whl.metadata (4.7 kB)
Downloading pip-25.3-py3-none-any.whl (1.8 MB)
   ---------------------------------------- 0.0/1.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.8 MB 129.6 kB/s eta 0:00:14
    --------------------------------------- 0.0/1.8 MB 195.7 kB/s eta 0:00:09
    --------------------------------------- 0.0/1.8 MB 195.7 kB/s eta 0:00:09
   - -------------------------------------- 0.1/1.8 MB 204.8 kB/s eta 0:00:09
   - -------------------------------------- 0.1/1.8 MB 204.8 kB/s eta 0:00:09
   -- ------------------------------------- 0.1/1.8 MB 238.1 kB/s eta 0:00:08
   --- ------------------------------------ 0.1/1.8 MB 340.5 kB/s eta 0:00:05
   ----- ---------------------------------- 0.3/1.8 MB 584.5 kB/s eta 0:00:03
   -------- ------------------------------- 0.4/1.8 MB 807.8 kB/s eta 0:00:02
   ----------- ---------------------------- 0.5/1.8 MB 943.2 kB/s eta 0:00:02
   ----------- ---------------------------- 0.5/1.8 MB 943.2 kB/s eta 0:00:02
   ------------- -------------------------- 0.6/1.8 MB 982.6 kB/s eta 0:00:02
   ----------------- ---------------------- 0.8/1.8 MB 1.1 MB/s eta 0:00:01
   ----------------------- ---------------- 1.0/1.8 MB 1.4 MB/s eta 0:00:01
   ------------------------------- -------- 1.4/1.8 MB 1.8 MB/s eta 0:00:01
   ------------------------------------- -- 1.6/1.8 MB 2.0 MB/s eta 0:00:01
   ---------------------------------------- 1.8/1.8 MB 2.1 MB/s eta 0:00:00
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 24.0
    Uninstalling pip-24.0:
      Successfully uninstalled pip-24.0
Successfully installed pip-25.3

In [26]:
!pip install html5lib

Requirement already satisfied: html5lib in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (1.1)
Requirement already satisfied: webencodings in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from html5lib) (0.5.1)
Requirement already satisfied: six>=1.9 in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from html5lib) (1.17.0)

[notice] A new release of pip is available: 23.0.1 -> 25.3
[notice] To update, run: C:\Users\USER\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip

In [28]:
!pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (4.14.3)
Requirement already satisfied: typing-extensions>=4.0.0 in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from beautifulsoup4) (4.15.0)
Requirement already satisfied: soupsieve>=1.6.1 in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from beautifulsoup4) (2.8)

[notice] A new release of pip is available: 23.0.1 -> 25.3
[notice] To update, run: C:\Users\USER\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd

url="https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/"
dfs = pd.read_html(url)

In [4]:
dfs[0]

,Bank Name,City,State,Cert,Acquiring Institution,Closing Date,Fund Sort ascending
0,The Santa Anna National Bank,Santa Anna,Texas,5520,Coleman County State Bank,"June 27, 2025",10549
1,Pulaski Savings Bank,Chicago,Illinois,28611,Millennium Bank,"January 17, 2025",10548
2,The First National Bank of Lindsay,Lindsay,Oklahoma,4134,First Bank & Trust Co.,"October 18, 2024",10547
3,Republic First Bank dba Republic Bank,Philadelphia,Pennsylvania,27332,"Fulton Bank, National Association","April 26, 2024",10546
4,Citizens Bank,Sac City,Iowa,8758,Iowa Trust & Savings Bank,"November 3, 2023",10545
5,Heartland Tri-State Bank,Elkhart,Kansas,25851,"Dream First Bank, N.A.","July 28, 2023",10544
6,First Republic Bank,San Francisco,California,59017,"JPMorgan Chase Bank, N.A.","May 1, 2023",10543
7,Signature Bank,New York,New York,57053,"Flagstar Bank, N.A.","March 12, 2023",10540
8,Silicon Valley Bank,Santa Clara,California,24735,First Citizens Bank & Trust Company,"March 10, 2023",10539
9,Almena State Bank,Almena,Kansas,15426,Equity Bank,"October 23, 2020",10538
10,First City Bank of Florida,Fort Walton Beach,Florida,16748,"United Fidelity Bank, fsb","October 16, 2020",10537
11,The First State Bank,Barboursville,West Virginia,14361,"MVB Bank, Inc.","April 3, 2020",10536
12,Ericson State Bank,Ericson,Nebraska,18265,Farmers and Merchants Bank,"February 14, 2020",10535
13,City National Bank of New Jersey,Newark,New Jersey,21111,Industrial Bank,"November 1, 2019",10534
14,Resolute Bank,Maumee,Ohio,58317,Buckeye State Bank,"October 25, 2019",10533
15,Louisa Community Bank,Louisa,Kentucky,58112,Kentucky Farmers Bank Corporation,"October 25, 2019",10532
16,The Enloe State Bank,Cooper,Texas,10716,"Legend Bank, N. A.","May 31, 2019",10531
17,Washington Federal Bank for Savings,Chicago,Illinois,30570,Royal Savings Bank,"December 15, 2017",10530
18,The Farmers and Merchants State Bank of Argonia,Argonia,Kansas,17719,Conway Bank,"October 13, 2017",10529
19,Fayette County Bank,Saint Elmo,Illinois,1802,"United Fidelity Bank, fsb","May 26, 2017",10528
20,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,Wisconsin,30003,First-Citizens Bank & Trust Company,"May 5, 2017",10527
21,First NBC Bank,New Orleans,Louisiana,58302,Whitney Bank,"April 28, 2017",10526
22,Proficio Bank,Cottonwood Heights,Utah,35495,Cache Valley Bank,"March 3, 2017",10525
23,Seaway Bank and Trust Company,Chicago,Illinois,19328,State Bank of Texas,"January 27, 2017",10524
24,Harvest Community Bank,Pennsville,New Jersey,34951,First-Citizens Bank & Trust Company,"January 13, 2017",10523

In [2]:
!python -m pip install requests

Collecting requests
  Downloading requests-2.32.5-py3-none-any.whl (64 kB)
     ---------------------------------------- 0.0/64.7 kB ? eta -:--:--
     ------------------------------------- -- 61.4/64.7 kB 1.1 MB/s eta 0:00:01
     -------------------------------------- 64.7/64.7 kB 879.0 kB/s eta 0:00:00
Collecting certifi>=2017.4.17
  Downloading certifi-2025.11.12-py3-none-any.whl (159 kB)
     ---------------------------------------- 0.0/159.4 kB ? eta -:--:--
     --------------- ----------------------- 61.4/159.4 kB 1.6 MB/s eta 0:00:01
     ------------------------------------ - 153.6/159.4 kB 2.3 MB/s eta 0:00:01
     -------------------------------------- 159.4/159.4 kB 1.6 MB/s eta 0:00:00
Collecting urllib3<3,>=1.21.1
  Downloading urllib3-2.6.2-py3-none-any.whl (131 kB)
     ---------------------------------------- 0.0/131.2 kB ? eta -:--:--
     -------------------------------------- 131.2/131.2 kB 7.6 MB/s eta 0:00:00
Collecting idna<4,>=2.5
  Downloading idna-3.11-py3-none-any.whl (71 kB)
     ---------------------------------------- 0.0/71.0 kB ? eta -:--:--
     ---------------------------------------- 71.0/71.0 kB ? eta 0:00:00
Collecting charset_normalizer<4,>=2
  Downloading charset_normalizer-3.4.4-cp310-cp310-win_amd64.whl (107 kB)
     ---------------------------------------- 0.0/107.2 kB ? eta -:--:--
     -------------------------------------- 107.2/107.2 kB 6.5 MB/s eta 0:00:00
Installing collected packages: urllib3, idna, charset_normalizer, certifi, requests
Successfully installed certifi-2025.11.12 charset_normalizer-3.4.4 idna-3.11 requests-2.32.5 urllib3-2.6.2

[notice] A new release of pip is available: 23.0.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
import requests
import pandas as pd

url = "https://en.wikipedia.org/wiki/Mobile_country_code"

headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
}

html = requests.get(url, headers=headers).text
tables = pd.read_html(html, match="Country", header=0)

df = tables[0]
df.head()

C:\Users\USER\AppData\Local\Temp\ipykernel_15688\2923541752.py:11: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(html, match="Country", header=0)

,Mobile country code,Country,ISO 3166,Mobile network codes,National MNC authority,Remarks
0,289,A Abkhazia,GE-AB,List of mobile network codes in Abkhazia,NaN,MCC is not listed by ITU
1,412,Afghanistan,AF,List of mobile network codes in Afghanistan,NaN,NaN
2,276,Albania,AL,List of mobile network codes in Albania,NaN,NaN
3,603,Algeria,DZ,List of mobile network codes in Algeria,NaN,NaN
4,544,American Samoa (United States of America),AS,List of mobile network codes in American Samoa,NaN,NaN

In [6]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
     ---------------------------------------- 0.0/250.9 kB ? eta -:--:--
     ---- ----------------------------------- 30.7/250.9 kB ? eta -:--:--
     ------ ------------------------------ 41.0/250.9 kB 393.8 kB/s eta 0:00:01
     ---------------- ------------------- 112.6/250.9 kB 819.2 kB/s eta 0:00:01
     -------------------- --------------- 143.4/250.9 kB 853.3 kB/s eta 0:00:01
     -------------------------------------  245.8/250.9 kB 1.1 MB/s eta 0:00:01
     ------------------------------------ 250.9/250.9 kB 962.7 kB/s eta 0:00:00
Collecting et-xmlfile
  Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

[notice] A new release of pip is available: 23.0.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [8]:
df_excel=pd.read_excel('data.xlsx')

In [9]:
df_excel.to_pickle('df_excel')

In [11]:
pd.read_pickle('df_excel')

    Name  Age
0  Zugnu   20
1   jack   36
2   john   40