### SQL And SQLite

SQL (Structured Query Language) is a standard language for managing and manipulating relational databases. SQLite is a self-contained, serverless, and zero-configuration database engine that is widely used for embedded database systems. In this lesson, we will cover the basics of SQL and SQLite, including creating databases, tables, and performing various SQL operations.

In [1]:
import sqlite3

In [2]:
### Connect to an SQLite database
connection=sqlite3.connect('examle.db')
connection

In [3]:
cursor=connection.cursor()

In [4]:
## Create a Table
cursor.execute('''
Create Table If Not Exists employees(
               id Integer Primary Key,
               name Text Not Null,
               age Integer,
               department text
            )
''')

## Commit the changes
connection.commit()

In [5]:
cursor.execute('''
Select*from employees
''')

In [22]:
## Insert the data in sqlite table
cursor.execute('''
Insert Into employees(name, age, department)
               values('Krish', 32, 'Date Scientist')
''')

cursor.execute('''
Insert Into employees(name, age, department)
               values('Bob', 25, 'Engineering')
''')

cursor.execute('''
Insert Into employees(name, age, department)
               values('Charlie', 35, 'Finance')
''')

## commit the change
connection.commit()

In [23]:
##  query the data from the table
cursor.execute('Select * from employees')
rows=cursor.fetchall()

# Print the queried data

for row in rows:
    print(row)

(1, 'Krish', 21, 'Date Scientist')
(3, 'Charlie', 35, 'Finance')
(4, 'Krish', 21, 'Date Scientist')
(6, 'Charlie', 35, 'Finance')
(7, 'Krish', 21, 'Date Scientist')
(9, 'Charlie', 35, 'Finance')
(10, 'Krish', 32, 'Date Scientist')
(11, 'Bob', 25, 'Engineering')
(12, 'Charlie', 35, 'Finance')

In [16]:
## Update the data in the table
cursor.execute('''
UPDATE employees
Set age=21

where department="Date Scientist"
''')

In [17]:
##  q   uery the data from the table
cursor.execute('Select * from employees')
rows=cursor.fetchall()

# Print the queried data

for row in rows:
    print(row)

(1, 'Krish', 21, 'Date Scientist')
(3, 'Charlie', 35, 'Finance')
(4, 'Krish', 21, 'Date Scientist')
(6, 'Charlie', 35, 'Finance')
(7, 'Krish', 21, 'Date Scientist')
(9, 'Charlie', 35, 'Finance')

In [18]:
## Delet the data from the table
cursor.execute('''
Delete from employees
               where name = 'Bob'
''')

connection.commit()

In [19]:
##  q   uery the data from the table
cursor.execute('Select * from employees')
rows=cursor.fetchall()

# Print the queried data

for row in rows:
    print(row)

(1, 'Krish', 21, 'Date Scientist')
(3, 'Charlie', 35, 'Finance')
(4, 'Krish', 21, 'Date Scientist')
(6, 'Charlie', 35, 'Finance')
(7, 'Krish', 21, 'Date Scientist')
(9, 'Charlie', 35, 'Finance')

In [20]:
cursor.execute("SELECT COUNT(*) FROM employees")
print(cursor.fetchone())

(6,)

In [26]:
## Working with Sales data
# Connect to an SQLite database
connection=sqlite3.connect('sales.db')
cursor=connection.cursor()

# Create Sales table
cursor.execute('''
Create Table If Not Exists sales(
               id Integer Primary Key,
               data Text Not Null,
               product_name Text Not Null,
               sales Integer,
               region Text
            )
''')

# Insert sample data into Sales table
sales_data=[
    ('2024-01-01', 'Product A', 100, 'North'),
    ('2024-01-02', 'Product B', 150, 'South'),
    ('2024-01-03', 'Product A', 200, 'East'),
    ('2024-01-04', 'Product C', 250, 'West'),
    ('2024-01-05', 'Product B', 300, 'North'),
]

cursor.executemany('''
Insert Into sales(data, product_name, sales, region)
               values(?, ?, ?, ?)
''', sales_data)

connection.commit()

In [28]:
##  query   uery the data from the table
cursor.execute('Select * from sales')
rows=cursor.fetchall()

# Print the queried data

for row in rows:
    print(row)

(1, '2024-01-01', 'Product A', 100, 'North')
(2, '2024-01-02', 'Product B', 150, 'South')
(3, '2024-01-03', 'Product A', 200, 'East')
(4, '2024-01-04', 'Product C', 250, 'West')
(5, '2024-01-05', 'Product B', 300, 'North')

In [29]:
## Close the connection
connection.close()

In [30]:
##  query   uery the data from the table
cursor.execute('Select * from sales')
rows=cursor.fetchall()

# Print the queried data

for row in rows:
    print(row)

ProgrammingError: Cannot operate on a closed database.