In [ ]:
## SYNTAX
def function_name(parameters):
    """ Docstring for the function."""
    # Function body
    return expression

In [2]:
## why functions?
num = 24
if num%2 == 0:
    print("The number is even", num)
else:
    print("The number is odd", num)

The number is even 24

In [ ]:
## creating a function
def even_or_odd(num):
    """ Check if a number is even or odd."""
    if num % 2 == 0:
        print(f"The number {num} is even.")
    else:
       print(f"The number {num} is odd.")

In [ ]:
## Call thisfuction
even_or_odd(24)

The number 24 is even.

In [9]:
## function with multiple parameters

def add(a, b):
    return a+b

result = add(2, 4)
print(result)

6

In [1]:
## Default Parameters

def greet(name):
    print(f"Hello {name} Welcome to the paradise!")

greet("Zugnu")

Hello Zugnu Welcome to the paradise!

In [4]:
def greet(name="Guest"):
    print(f"Hello {name} Welcome to the paradise!")

greet("Sruu")

Hello Sruu Welcome to the paradise!

In [8]:
### Variable Length Aeguments
## Position and keywords  arguments

def print_numbers(*Zugnu):
    """ Print numbers passed as arguments."""
    for number in Zugnu:
        print(number)

In [9]:
print_numbers(1, 2, 3, 4, 5, 6,"Zugnu")

1
2
3
4
5
6
Zugnu

In [10]:
# Positional arguments 
def print_numbers(*args):
    """ Print numbers passed as arguments."""
    for number in args:
        print(number)

In [11]:
print_numbers(1, 3, 4, 5, 6, "Zugnu")

1
3
4
5
6
Zugnu

In [12]:
### keyword Aeguments

def print_details(**kwargs):
    for key, value in kwargs.items():
        print(f" {key}: {value}")

In [13]:
print_details(name="zugnu", age=24, city="Siwan", country="bihar")

 name: zugnu
 age: 24
 city: Siwan
 country: bihar

In [14]:
def print_details(*args,**kwargs):
    for val in args:
        print(f"Positional arument :{val}")

    for key, value in kwargs.items():
        print(f" {key}: {value}")

In [15]:
print_details(1, 2, 3, 4, 5, name="zugnu", age=24, city="Siwan", country="bihar" )

Positional arument :1
Positional arument :2
Positional arument :3
Positional arument :4
Positional arument :5
 name: zugnu
 age: 24
 city: Siwan
 country: bihar

In [18]:
## Return multiple parameters
def multiply(a,b):
    return a*b,a

multiply(1, 4)

(4, 1)