In [2]:
def square(x):
    return x ** x
square(2)

4

In [3]:
numbers = [1, 2, 3, 4, 5]
list(map(square, numbers))

[1, 4, 27, 256, 3125]

In [6]:
## Lambda function with map
numbers = [1, 2, 3, 4, 5, 6, 7, 8]
list(map(lambda x:x*x, numbers))

[1, 4, 9, 16, 25, 36, 49, 64]

In [7]:
## map() multiple iterables
numbers1 = [1, 2, 3, 4]
numbers2 = [5, 6, 7, 8]
added_numbers = list(map(lambda x, y: x + y, numbers1, numbers2))
print(added_numbers)

[6, 8, 10, 12]

In [8]:
## map() to covert a list of strings to integers
## use map to covert strings to integers
str_numbers = ['1', '2', '3', '4', '5']
int_numbers = list(map(int, str_numbers))
print(int_numbers)

[1, 2, 3, 4, 5]

In [9]:
words = ['apple', 'banana', 'cherry']
upper_words = list(map(str.upper, words))
print(upper_words)

['APPLE', 'BANANA', 'CHERRY']

In [11]:
def get_name(person):
    return person['name']
people = [
    {'name': 'Zugnu', 'age': 20},
    {'name': 'Sarfaraz', 'age': 20}
]

list(map(get_name, people))

['Zugnu', 'Sarfaraz']