In [3]:
lst = []
print(type(lst))

<class 'list'>

In [4]:
names = ["zugnu", "Zggu", "Saruu", "sarfaraz", 1, 2, 3, 4 ]
print(names)

['zugnu', 'Zggu', 'Saruu', 'sarfaraz', 1, 2, 3, 4]

In [5]:
mixed_list = [1, "Hello", 3.14,True]
print(mixed_list)

[1, 'Hello', 3.14, True]

In [6]:
### Accessing List Elements
fruits = ["apple", "Banana", "cherry", "kiwi", "gauva"]
print(fruits)

['apple', 'Banana', 'cherry', 'kiwi', 'gauva']

In [7]:
print(fruits[0])
print(fruits[2])

apple
cherry

In [8]:
print(fruits[1:])
print(fruits[1:3])

['Banana', 'cherry', 'kiwi', 'gauva']
['Banana', 'cherry']

In [9]:
## Modifying The List elements
fruits

['apple', 'Banana', 'cherry', 'kiwi', 'gauva']

In [10]:
fruits[1]="watermelon"
print(fruits)

['apple', 'watermelon', 'cherry', 'kiwi', 'gauva']

In [11]:
fruits = ["apple", "Banana", "cherry", "kiwi", "gauva"]

In [12]:
## List Methods

fruits.append("orange") ## add an item to the end
print(fruits)

['apple', 'Banana', 'cherry', 'kiwi', 'gauva', 'orange']

In [13]:
fruits.insert(1,"watermelon")
print(fruits)

['apple', 'watermelon', 'Banana', 'cherry', 'kiwi', 'gauva', 'orange']

In [14]:
fruits.remove("Banana") ## Remove the frist occurance of an item
print(fruits)

['apple', 'watermelon', 'cherry', 'kiwi', 'gauva', 'orange']

In [15]:
## Remove and return the last item
popped_fruits=fruits.pop()
print(popped_fruits)
print(fruits)

orange
['apple', 'watermelon', 'cherry', 'kiwi', 'gauva']

In [16]:
index=fruits.index("cherry")
print(index)

2

In [17]:
fruits.insert(2,"banana")
print(fruits.count("banana"))

1

In [18]:
fruits

['apple', 'watermelon', 'banana', 'cherry', 'kiwi', 'gauva']

In [19]:
fruits.sort()

In [20]:
fruits

['apple', 'banana', 'cherry', 'gauva', 'kiwi', 'watermelon']

In [21]:
fruits.reverse() #Reverse the list

In [22]:
fruits

['watermelon', 'kiwi', 'gauva', 'cherry', 'banana', 'apple']

In [23]:
fruits.clear() ## Remove all items from the list

print(fruits)

[]

In [24]:
## Silicing List
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(numbers[2:5])
print(numbers[:5])
print(numbers[5:])
print(numbers[::2])
print(numbers[::-1])

[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [25]:
numbers[::3]

[1, 4, 7, 10]

In [26]:
numbers[::-2]

[10, 8, 6, 4, 2]

In [27]:
### Iterating Over List

for number in numbers:
    print(number)

1
2
3
4
5
6
7
8
9
10

In [28]:
## interating with index
for index,number in enumerate(numbers):
    print(index,number)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

In [29]:
# List comprehension
lst = []
for x in range(10):
    lst.append(x**2)

print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [30]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

##### List Comprehension

Basics Syantax             [expression for item in iterable]

with condtional logic      [expression for item in iterable if condition]

Nested List Comprehension  [expression for item1 in iterable1 for item2 in iterable2]

In [38]:
### Basic List Comphrension
sqaure = [num**2 for num in range(10)]
print(sqaure)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [39]:
### List Comprehension with Condition
lst=[]
for i in range(10):
    if i%2==0:
        lst.append(i)
print(lst)

[0, 2, 4, 6, 8]

In [40]:
even_number=[num for num in range(10) if num%2==0]
print(even_number)

[0, 2, 4, 6, 8]

In [41]:
### Nested List Comprehension
lst1=[1,2,3,4,]
lst2=['a','b','c','d']

pair = [[i,j] for i in lst1 for j in lst2]
print(pair)

[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd']]

In [42]:
## List Comprehension with function calls
words = ["Hello", "World","Python","list","comprehension"]
lengths = [len(word) for word in words]
print(lengths) # Output: [5, 5, 6, 7, 4, 13]

[5, 5, 6, 4, 13]