In [32]:
## creating a tuple
empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [33]:
lst=list()
print(type(lst))
tpl=tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [34]:
numbers=tuple([1,2,3,4,5,6,])
numbers

(1, 2, 3, 4, 5, 6)

In [35]:
list((1,2,34,5,6))

[1, 2, 34, 5, 6]

In [36]:
mixed_tuple=(1,"Hello World",3.14,True)
print(mixed_tuple)

(1, 'Hello World', 3.14, True)

In [37]:
## Accessing Tuple Elements

numbers

(1, 2, 3, 4, 5, 6)

In [38]:
print(numbers[2])
print(numbers[-1])

3
6

In [39]:
numbers[0:4]

(1, 2, 3, 4)

In [40]:
numbers[::-1]

(6, 5, 4, 3, 2, 1)

In [41]:
# Tuple operations
concatenation_tuple = numbers + mixed_tuple
print(concatenation_tuple)

(1, 2, 3, 4, 5, 6, 1, 'Hello World', 3.14, True)

In [42]:
mixed_tuple * 3

(1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True)

In [43]:
## Immutable Nature or tuple
## Tuple are immutable, meaning  their elements cannot be changed once assigned.

lst=[1,2,3,4,5]
print(lst)

lst[1]="zugnu"
print(lst)

[1, 2, 3, 4, 5]
[1, 'zugnu', 3, 4, 5]

In [44]:
numbers[1]="zugnu"

TypeError: 'tuple' object does not support item assignment

In [ ]:
numbers

(1, 2, 3, 4, 5, 6)

In [ ]:
# Tuple Methods
## count method check karta hai ki koi value tuple me kitna bar repeat hui hai
print(numbers.count(1))

## index method batata hai ki koi value tuple me sabse pahli baar kis position par aayi hai.
print(numbers.index(3))

1
2

In [47]:
## Packing and Unpacking tuple
## packing
packed_tuple=1,"Hello",3.14
print(packed_tuple)

(1, 'Hello', 3.14)

In [48]:
## Unpacking a tuple
a,b,c=packed_tuple

print(a)
print(b)
print(c)

1
Hello
3.14

In [52]:
## Unpacking with *
numbers = (1,2,3,4,5,6)
first,*middle,last=numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [54]:
## Nested Tuple
## Nested List
lst=[[1,2,3,4],[5,6,7,8,9],[1,"Hello",3.14,"c"]]
lst[0][0:3]

[1, 2, 3]

In [55]:
lst=[[1,2,3,4],[5,6,7,8,9],[1,"Hello",3.14,"c"]]
lst[2][0:3]

[1, 'Hello', 3.14]

In [57]:
nested_tuple = ((1,2,3), ("a","b","c"), (True, False))

## access the elements inside a tuple
print(nested_tuple[0])
print(nested_tuple[1][2])

(1, 2, 3)
c

In [58]:
## iterating over nested tuples
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item,end=" ")
    print()

1 2 3
a b c
True False