In [2]:
## Create a set
my_set={1,2,3,4,5}
print(my_set,"\n",type(my_set))

{1, 2, 3, 4, 5}
 <class 'set'>

In [3]:
my_empty_set=set()
print(type(my_empty_set))

<class 'set'>

In [4]:
my_set=set([1,2,3,4,5,6])
print(my_set)

{1, 2, 3, 4, 5, 6}

In [5]:
my_empty_set=set([1,2,3,4,2,5,4,6])
print(my_empty_set)

{1, 2, 3, 4, 5, 6}

In [6]:
## Basics Sets Operation
## Adding and Removing Elements
my_set.add(7)
print(my_set)
my_set.add(7)
print(my_set)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}

In [7]:
## Remove the elements from a set
my_set.remove(3)
print(my_set)

{1, 2, 4, 5, 6, 7}

In [8]:
## pop method
removed_element=my_set.pop()
print(removed_element)
print(my_set)

1
{2, 4, 5, 6, 7}

In [9]:
my_sets={10,20,30,40,50}
print(my_sets)

{50, 20, 40, 10, 30}

In [10]:
removed_element=my_sets.pop()
print(removed_element)
print(my_sets)

50
{20, 40, 10, 30}

In [11]:
## clear all the elements
my_set.clear()
print(my_set)

set()

In [ ]:
## Set Memebership test
my_set={1,2,3,4,5}
print
print(10 in my_set)

True
False

In [ ]:
## Mathematical Operation
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}

### Union
union_set=set1.union(set2)
print(union_set)

##Intersection
intersection_set=set1.intersection(set2)
print(intersection_set)

set1.intersection_update(set2)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}
{4, 5, 6}

In [14]:
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}

##Difference
print(set1.difference(set2))

{1, 2, 3}

In [15]:
set1

{1, 2, 3, 4, 5, 6}

In [16]:
set2.difference(set1)

{7, 8, 9}

In [17]:
## Symmetric Difference
set1.symmetric_difference(set2)

{1, 2, 3, 7, 8, 9}

In [3]:
## Set methods 
set1 = {1,2,3}
set2 = {3,4,5}

# is subset
print(set1.issubset(set2))

print(set1.issuperset(set2))

False
False

In [5]:
lst=[1,2,2,3,3,4.5]
set(lst)

{1, 2, 3, 4.5}

In [10]:
## Counting Unique words in text

text="In this tutorial we are discussing about sets"
words=text.split()

## convert list of words to get unique words

unique_words=set(words)
print(unique_words)
print(len(unique_words))

{'sets', 'about', 'discussing', 'are', 'we', 'In', 'tutorial', 'this'}
8