In [ ]:
#1
lst=list(range(1,20))
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
#2
print(lst[0])
print(lst[9])
print(lst[-1])

1
10
19

In [ ]:
#3
print(lst[:5])
print(lst[-5:])
print(lst[5:16])

[1, 2, 3, 4, 5]
[15, 16, 17, 18, 19]
[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [ ]:
#4
Squares=[num**2 for num in range(1,11)]
print(Squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
#5
evens = [x for x in lst if x % 2 == 0]
print(evens)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
#6
import random

random_numbers = [random.randint(1, 20) for _ in range(15)]
print(f"Original list: {random_numbers}")

Original list: [17, 13, 8, 13, 1, 18, 20, 18, 11, 13, 9, 19, 20, 11, 7]

In [ ]:
#7
import random

random_numbers = [random.randint(1, 20) for _ in range(15)]
print(f"Original list: {random_numbers}")

sorted_numbers = sorted(random_numbers)
print(f"Sorted in ascending order: {sorted_numbers}")

sorted_numbers_desc = sorted(random_numbers, reverse=True)
print(f"Sorted in descending order: {sorted_numbers_desc}")

unique_numbers = list(set(random_numbers))
print(f"List with duplicates removed: {unique_numbers}")

Original list: [8, 4, 7, 2, 1, 8, 15, 13, 12, 12, 17, 6, 5, 16, 5]
Sorted in ascending order: [1, 2, 4, 5, 5, 6, 7, 8, 8, 12, 12, 13, 15, 16, 17]
Sorted in descending order: [17, 16, 15, 13, 12, 12, 8, 8, 7, 6, 5, 5, 4, 2, 1]
List with duplicates removed: [1, 2, 4, 5, 6, 7, 8, 12, 13, 15, 16, 17]

In [ ]:
#8
students = [
    {"name": "zugnu", "score": 85},
    {"name": "mahi", "score": 90},
    {"name": "sara", "score": 78},
    {"name": "join", "score": 92},
    {"name": "khan", "score": 88}
]
sorted_students = sorted(students, key=lambda x: x["score"], reverse=True)
print("Students sorted by score in descending order: ")
for student in sorted_students:
    print(student)

Students sorted by score in descending order:
{'name': 'join', 'score': 92}
{'name': 'mahi', 'score': 90}
{'name': 'khan', 'score': 88}
{'name': 'zugnu', 'score': 85}
{'name': 'sara', 'score': 78}

In [4]:
#9
def transpose_matrix(matrix):
    tranposed = [[matrix[j][i] for j in range(len(matrix))] for i in range(len(matrix[0]))]
    return tranposed

matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
transposed = transpose_matrix(matrix)
print("Original matrix:")
for row in matrix:
    print(row)
print("Transposed matrix:")
for row in transposed:
    print(row)

Original matrix:
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
Transposed matrix:
[1, 4, 7]
[2, 5, 8]
[3, 6, 9]

In [5]:
#10
def flatten_list(nested_list):
    flat_list = [item for sublist in nested_list for item in sublist]
    return flat_list

nested_list = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
flattened = flatten_list(nested_list)
print("Original nested list:")
print(nested_list)
print("Falttened list:")
print(flattened)

Original nested list:
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
Falttened list:
[1, 2, 3, 4, 5, 6, 7, 8, 9]