In [ ]:
#1
tpl=tuple(range(1, 11))
print(tpl)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [ ]:
#2
print(f"first element: {tpl[0]}")
print(f"Middle element: {tpl[len(tpl) // 2]}")
print(f"Last element: {tpl[-1]}")

first element: 1
Middle element: 6
Last element: 10

In [ ]:
#3
print(f"first three element: {tpl[:3]}")
print(f"last three element: {tpl[-3:]}")
print(f"Element from index 2 to 5 {tpl[2:6]}")

first three element: (1, 2, 3)
last three element: (8, 9, 10)
Element from index 2 to 5 (3, 4, 5, 6)

In [ ]:
#4
matrix=(
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)
print("Matrix:")
for row in matrix:
    print(row)
#print(f"Element at second row and third column: {matrix[1][2]}")
print(f"Element at second row and third column: {matrix[1][2]}")

Matrix:
(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
Element at second row and third column: 6

In [ ]:
#5
tpl1 = (1,2,3)
tpl2 = (4,5,6)
concatenate=tpl1+tpl2
print(concatenate)

(1, 2, 3, 4, 5, 6)

In [ ]:
#6
tpl = (2, 2, 1, 1, 4, 4, 4, 6, 7)
print(f"occurrences of 4: {tpl.count(4)}")
print(f"Index of first occurrences 2: {tpl.index(2)}")

occurrences of 4: 3
Index of first occurrences 2: 8

In [ ]:
#7
tpl = (1, "Hello", 34, "apple", 3.14)
a, b, c, d, f=tpl
print(a)
print(b)
print(c)
print(d)
print(f)

1
Hello
34
apple
3.14

In [ ]:
#8
lst=[1,2,3,4,5]
tpl=tuple(lst)
print(tpl)

(1, 2, 3, 4, 5)

In [ ]:
#9
tpl_of_tpls = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)
print(tpl_of_tpls)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [9]:
#10
tpl=(1, 2, 3, 4, 5)
lst=list(tpl)
lst.append(6)
tpl=tuple(lst)
print(tpl)

(1, 2, 3, 4, 5, 6)

In [ ]:
#11
string = "Hello"
tpl=tuple(string)
joined_string=''.join(tpl)
print(joined_string)

Hello

In [ ]:
#12
tpl_dict={
    (1, 2): 3,
    (4, 5): 6,
    (7, 8): 9
}
print(tpl_dict)

{(1, 2): 3, (4, 5): 6, (7, 8): 9}

In [17]:
#13
nested_tpl=(
    (1, 2, 3, 4),
    (5, 6, 7, 8),
    (9, 10, 11, 12),
    (13, 14, 15, 16)
)
for tpl in nested_tpl:
    for elem in tpl:
        print(elem)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16

In [34]:
#14
tpl = (1, 2, 2, 3, 4, 5, 5, 6, 5)
new_tpl= set(tpl)
print(new_tpl)

{1, 2, 3, 4, 5, 6}

In [33]:
tpl = (1, 2, 2, 3, 4, 4, 4, 5)
unique_items = set(tpl)
print(unique_items)

{1, 2, 3, 4, 5}

In [32]:
del set

In [ ]:
def min_in_tuple (tpl):
    return min(tpl)

def max_in_tuple(tpl):
    return max(tpl)

def sum_of_tuple(tpl):
    return sum(tpl)

sample_tpl = (1, 2, 3, 4, 5)
print(f"Minimum: {min_in_tuple(sample_tpl)}")
print(f"Maximum: {max_in_tuple(sample_tpl)}")
print(f"sum: {sum_of_tuple(sample_tpl)}")

Minimum: 1
Maximum: 5
sum: 15